html {
  font-size: 62.5%;
  background: #2c302d;
}
.App {
  background: #2c302d;
  height: 100vh;
  color: #fff;
}

.first-area {
  background: #191a19;
  min-height: 180px;
  padding: 20px 30px;
  border-radius: 15px;
  padding: 20px 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  min-height: 180px;
  background: #191a19;
  box-shadow: 16px 16px 44px #0a0a0a, -16px -16px 44px #282a28;
  padding: 20px 30px;
  border-radius: 15px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 5rem;
}

.flex-column {
  flex-direction: column;
}

.flex-justify {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-auto {
  margin: 0 auto;
}

.mb-2 {
  text-align: center;
  margin-bottom: 1rem;
}